<!doctype html>
<html>
	<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="home.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	</head>
	<body>
		<h1><center>Pydoc Web Interface</center></h1>
		<center>This page lists all the pacakges,libraries,modules, services and everything else in Python 3.10 and a web replica of Pydoc in Python!</center><br>
		<center>
			<form action="http://127.0.0.1:5000/search" method="POST">
			<input type="text" name="search" placeholder="Search string">
			<input type="submit"  value="Search">
		</form>
		</center><br>
			<center><h4>
				<button><a href="{{ url_for('a') }}">a</a></button>
				<button><a href="{{ url_for('b') }}">b</a></button>
				<button><a href="{{ url_for('c') }}">c</a></button>
				<button><a href="{{ url_for('d') }}">d</a></button>
				<button><a href="{{ url_for('e') }}">e</a></button>
				<button><a href="{{ url_for('f') }}">f</a></button>
				<button><a href="{{ url_for('g') }}">g</a></button>
				<button><a href="{{ url_for('h') }}">h</a></button>
				<button><a href="{{ url_for('i') }}">i</a></button>
				<button><a href="{{ url_for('j') }}">j</a></button>
				<button><a href="{{ url_for('k') }}">k</a></button>
				<button><a href="{{ url_for('l') }}">l</a></button>
				<button><a href="{{ url_for('m') }}">m</a></button> 
				<button><a href="{{ url_for('n') }}">n</a></button>
				<button><a href="{{ url_for('o') }}">o</a></button>
				<button><a href="{{ url_for('p') }}">p</a></button>
				<button><a href="{{ url_for('q') }}">q</a></button>
				<button><a href="{{ url_for('r') }}">r</a></button>
				<button><a href="{{ url_for('s') }}">s</a></button>
				<button><a href="{{ url_for('t') }}">t</a></button>
				<button><a href="{{ url_for('u') }}">u</a></button>
				<button><a href="{{ url_for('v') }}">v</a></button>
				<button><a href="{{ url_for('w') }}">w</a></button>
				<button><a href="{{ url_for('x') }}">x</a></button>
				<button><a href="{{ url_for('z') }}">z</a></button>
			</h4></center><br>
			
		<script>

</script>
	</body>
</html>